<div ng-controller="AgroController as agro">
<!-- single map wrapper -->
<div class="single-map-wrapper">
    <ng-map default-style="false" zoom="8" center="[27.700769, 85.300140]" style="height: 100%">
        <marker ng-repeat="ag in agro.agroData.message" title="{{ag.org_name}}" position="{{ag.org_location_lat}},{{ag.org_location_lan}}"></marker>
    </ng-map>
</div>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="col-md-7 col-md-offset-5">
            <header>
                <div class="search-form">
                    <form class="form" ng-submit="agro.doSearch()">
                        <input type="text" class="cplus-input" placeholder="Find Agro stuffs" ng-model="agro.agro_query">
                        <input type="submit" class="cplus-submit" value="Search">
                    </form>
                </div>
            </header>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Organizations">
                    <md-content class="md-padding">
                        <div class="row">
                            <div class="col-sm-6" ng-repeat="ag in agro.agroData.message">
                                <div class="post-box" ng-click="agro.gotoAgroDetail(ag._id, ag.org_name)">
                                    <div class="post-img">
                                        <img ng-src="{{ag.org_image}}" alt="">
                                    </div>
                                    <div class="post-type">
                                        <p>{{ag.org_type}}</p>
                                    </div>
                                    <div class="post-meta">
                                        <h4>{{ag.org_name}}</h4>
                                        <p><i class="fa fa-location-arrow"></i>{{ag.org_location}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Events">
                    <md-content class="md-padding">
                        <div class="row">
                            <div class="col-sm-6" ng-repeat="evnt in agro.eventData.message">
                                <div class="post-box" ng-click="agro.gotoAgroDetail(evnt._id, evnt.org_name)">
                                    <div class="post-img">
                                        <img ng-src="{{evnt.org_image}}" alt="">
                                    </div>
                                    <div class="post-type">
                                        <p>{{evnt.ev_type}}</p>
                                    </div>
                                    <div class="post-meta">
                                        <h4>{{evnt.ev_name}}</h4>
                                        <p><i class="fa fa-location-arrow"></i>{{evnt.org_location}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>
</div>