<div class="register-wrapper" ng-controller="MainController as register">
    <div class="form-wrapper">
        <div class="container">
            <div class="col-md-6 col-md-offset-3 col-sm-12">
                <div class="main-form">
                    <header><h2>Register</h2></header>
                    <form ng-submit="register.doRegister()" novalidate>
                        <ul>
                            <li>
                                <md-input-container class="md-block">
                                    <label>Full Name</label>
                                    <input required md-no-asterisk type="text" name="name" ng-model="register.registerData.name">
                                </md-input-container>
                            </li>
                            <li>
                                <md-input-container class="md-block">
                                    <label>Email</label>
                                    <input required md-no-asterisk type="text" name="email" ng-model="register.registerData.email">
                                </md-input-container>
                            </li>
                            <li>
                                <md-input-container class="md-block">
                                    <label>Password</label>
                                    <input required md-no-asterisk type="password" name="password" ng-model="register.registerData.password">
                                </md-input-container>
                            </li>
                            <li><input type="submit" class="cplus-submit" value="Register"></li>
                            <li><div class="form-meta"><a href="/login"><i class="fa fa-arrow-left"></i> Back</a></div></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>