
// Backgrounds
.login-wrapper{
  background-color: $primary_accent5;
  background: url("images/bg-login.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.register-wrapper{
  background-color: $primary_accent5;
  background: url("images/bg-signup.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}