
// Backgrounds
.login-wrapper{
  background: url("images/bg-login.jpg") no-repeat #191919 ;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.register-wrapper{
  background: url("images/bg-signup.jpg") no-repeat #191919;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.form-wrapper{
  background: url("images/submit-listing-bg.jpg") no-repeat #191919;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  }

.main-form.listing{
  @include card(1);
}
.content-wrapper{
  background: #e3e3e3;
}