#menu-main-menu{
	margin-right: 120px;
}



.navbar-default {
	background: none;
	border: 0;
	.navbar-brand{
		color: $color9;
		&:hover{
			color: $color9;
		}
		&:focus{
			color: $color9;
		}

	}
}
.navbar-nav{
	a{
		font-size: 14px;
		font-weight: 500;
		padding: 8px;
		margin-bottom: 14px;
		text-transform: uppercase;
		@include transition(all $ease-in-quad .2s);
	}
}
.navbar-default .navbar-nav>li>a {
	color: $link_color2;
	&:hover, &:focus{
		color: $link_color2_hover;
		background: none;
	}
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus{
	background: none;
	color: $link_color2;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	color: $link_color2_hover;
	background: none;
}
.navbar-default .navbar-nav .dropdown.active.open>a{
	background: $color4;
}
.navbar-nav>li>.dropdown-menu {
	margin-right: 32px;
	padding: 0;
	border: 0;
	background: #191919;
	@include animation(item_slideUp .2s);
}
.navbar-default .navbar-nav .caret{
	display: none;
}
.dropdown-menu>li>a{
	font-size: 13px;
	font-weight: 500;
	color: $color8;
	padding: 12px 16px;
	margin: 0;
	border-bottom: 1px solid $color1;
	&:hover{
		background: #191919;
		color: $color9;
		margin-left: 5px;
	}
	&:before{
		content: "\f105";
		font-family: "FontAwesome";
		padding-right: 8px;
	}
}



@include minbreakpoint(sm) {
	.navbar-collapse {
		background: $color2;
		margin: 0;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav a {
		border: 0;
		padding: 16px;
		margin: 0;
		color: $color7;
		&:hover{
			color: $color9;
		}

	}
	.navbar-nav .open .dropdown-menu{

	}
	.navbar-nav .open .dropdown-menu>li>a {
		background: $color1;

	}
	.navbar-default .navbar-nav a {
		padding: 16px;
	}
}
@include maxbreakpoint(sm) {
	// Social Bar at left
	.top-bar-nav{
		position: absolute;
		right: 0;
		padding: 12px;
		color: #fff;
		ul{
			list-style-type: none;
			text-align: left;
			border-left: 1px solid $primary_accent3;
			li{
				display: inline-block;
				margin: 0px 8px;
				a{color: $link_color3; &:hover{color: $link_color3_hover; }}
			}
		}
	}

	.dropdown-menu .sub-menu {
	    left: 100%;
	    position: absolute;
	    top: 0;
	    visibility: hidden;
	    margin-top: -1px;
	}

	.dropdown-menu li:hover .sub-menu {
	    visibility: visible;
	}

	.dropdown:hover .dropdown-menu {
	    display: block;
	}

	.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
	    margin-top: 0;
	}

	.navbar .sub-menu:before {
	    border-bottom: 7px solid transparent;
	    border-left: none;
	    border-right: 7px solid rgba(0, 0, 0, 0.2);
	    border-top: 7px solid transparent;
	    left: -7px;
	    top: 10px;
	}
	.navbar .sub-menu:after {
	    border-top: 6px solid transparent;
	    border-left: none;
	    border-right: 6px solid #fff;
	    border-bottom: 6px solid transparent;
	    left: 10px;
	    top: 11px;
	    left: -6px;
	}
}

// navbar toggle
.navbar-default .navbar-toggle{
    background: transparent;
    border: none;
	.fa{
		color: $primary_accent5;
		font-size: 24px;
	}
	&:hover{
		background: transparent;
	}
	&:focus{
		outline: none;
	}
}

.navbar-default .navbar-collapse{
	border-color: $primary_color1;
}
