<div class="admin-menu-wrapper">
    <div class="admin-menu-toggle">
        <i class="fa fa-bars"></i>
    </div>
    <ul>
      <li>
        <a href=""><i class="fa fa-glass"></i> Dashboard</a>
      </li>
      <li>
        <a href="#agriculture" data-scroll><i class="fa fa-tree"></i> Agriculture</a>
      </li>
      <li>
        <a href="#events" data-scroll><i class="fa fa-newspaper-o"></i> Events / Trannings</a>
      </li>
      <li>
        <a href=""><i class="fa fa-user"></i> Users</a>
      </li>
      <li>
        <a href=""><i class="fa fa-cog"></i> Settings</a>
      </li>
    </ul>

</div>
<div class="admin-content-wrapper" ng-controller="DashController as dash">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- agriculture box -->
                <div id="agriculture" class="agriculture-box">
                    <h2>Agriculture Posts</h2>
                    <ul>
                        <li ng-repeat="dashAgro in dash.agroData">
                            <div class="post-content">
                                <h4>{{dashAgro.org_name}}</h4>
                            </div>
                            <ul class="post-meta">
                               <li><md-button class="md-icon-button md-primary" data-toggle="modal" data-target="#myModal-{{dashAgro._id}}"><i class="fa fa-edit"></i></md-button></li>
                               <li><md-button class="md-icon-button md-warn" ng-click="dash.agroDel(dashAgro._id)"><i class="fa fa-close"></i></md-button></li>
                            </ul>
                            <div class="modal fade" id="myModal-{{dashAgro._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Edit Agriculture Information.</h4>
                                  </div>
                                  <form name="dash.agroPost_form" ng-submit="dash.doPutAgro(dashAgro._id, dashAgro.org_name, dashAgro.org_type, dashAgro.org_desc, dashAgro.org_location, dashAgro.org_phone_number, dashAgro.org_email, dashAgro.org_website, dashAgro.org_location_lat, dashAgro.org_location_lan, dashAgro.org_image, dashAgro.is_approved)">
                                  <div class="modal-body">
                                    <!-- Edit entire agriculture data from here -->
                                    <ul>
                                      <li>
                                        <md-input-container class="md-block">
                                          <md-checkbox ng-model="dashAgro.is_approved" aria-label="Checkbox 1"></md-checkbox>
                                          Approve / Disapprove
                                        </md-input-container>
                                        <md-input-container>
                                          <label>Organization name</label>
                                          <input ng-model="dashAgro.org_name">
                                        </md-input-container>
                                        <md-input-container>
                                          <label>Organization Type</label>
                                          <input ng-model="dashAgro.org_type">
                                        </md-input-container>
                                      </li>
                                      <li>
                                        <md-input-container class="md-block">
                                        <label>Description</label>
                                        <textarea ng-model="dashAgro.org_desc" rows="20" md-select-on-focus></textarea>
                                        </md-input-container>
                                      </li>
                                      <li>
                                        <md-input-container>
                                          <label>Phone Number</label>
                                          <input ng-model="dashAgro.org_phone_number">
                                        </md-input-container>
                                        <md-input-container>
                                          <label>Email</label>
                                          <input ng-model="dashAgro.org_email">
                                        </md-input-container>
                                        <md-input-container>
                                          <label>Website</label>
                                          <input ng-model="dashAgro.org_website">
                                        </md-input-container>
                                        <md-input-container>
                                          <label>Location</label>
                                          <input ng-model="dashAgro.org_location">
                                        </md-input-container>
                                      </li>
                                      <li>
                                        <md-input-container>
                                          <label>Location Latitude</label>
                                          <input ng-model="dashAgro.org_location_lat">
                                        </md-input-container>
                                        <md-input-container>
                                          <label>Location Longitude</label>
                                          <input ng-model="dashAgro.org_location_lan">
                                        </md-input-container>
                                      </li>
                                      <li>
                                        <md-input-container>
                                          <label>Image Url</label>
                                          <input ng-model="dashAgro.org_image">
                                        </md-input-container>
                                        <md-input-container>
                                          <label>Document Url</label>
                                          <input ng-model="dashAgro.org_doc">
                                        </md-input-container>
                                      </li>
                                      <li>
                                          <input type="hidden" ng-model="dashAgro.posted_by">
                                          <input type="hidden" ng-model="dashAgro.user_id">
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="cplus-button1" data-dismiss="modal">Close</button>
                                    <button type="submit" class="cplus-button1" >Save changes</button>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- events box -->
                <div id="events" class="event-box">
                    <h2>Events / Trannings</h2>
                    <ul>
                        <li ng-repeat="dashEvent in dash.eventData">
                            <div class="post-content">
                                <h4>{{dashEvent.ev_name}}</h4>
                            </div>
                            <ul class="post-meta">
                               <li><md-button class="md-icon-button md-primary" data-toggle="modal" data-target="#myModal-{{dashEvent._id}}"><i class="fa fa-edit"></i></md-button></li>
                               <li><md-button class="md-icon-button md-warn" ng-click="dash.eventDel(dashEvent._id)"><i class="fa fa-close"></i></md-button></li>
                            </ul>
                            <div class="modal fade" id="myModal-{{dashEvent._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Edit Agriculture Information.</h4>
                                  </div>
                                  <form name="dash.eventPost_form" ng-submit="dash.doPutEvent(dashEvent._id, dashEvent.ev_name, dashEvent.ev_type, dashEvent.ev_desc, dashEvent.ev_location, dashEvent.ev_time, dashEvent.ev_phone_number, dashEvent.ev_email, dashEvent.ev_website, dashEvent.ev_location_lat, dashEvent.ev_location_lan, dashEvent.ev_image, dashEvent.is_approved)">
                                  <div class="modal-body">
                                    <!-- Edit entire agriculture data from here -->
                                    <ul>
                                      <li>
                                        <md-input-container class="md-block">
                                          <md-checkbox ng-model="dashEvent.is_approved" aria-label="Checkbox 1"></md-checkbox>
                                          Approve / Disapprove
                                        </md-input-container>
                                        <md-input-container>
                                          <label>Event name</label>
                                          <input ng-model="dashEvent.ev_name">
                                        </md-input-container>
                                        <md-input-container>
                                          <label>Event Type</label>
                                          <input ng-model="dashEvent.ev_type">
                                        </md-input-container>
                                        <md-input-container>
                                          <label>Event Time</label>
                                          <input ng-model="dashEvent.ev_time">
                                        </md-input-container>
                                      </li>
                                      <li>
                                        <md-input-container class="md-block">
                                        <label>Description</label>
                                        <textarea ng-model="dashEvent.ev_desc" rows="20" md-select-on-focus></textarea>
                                        </md-input-container>
                                      </li>
                                      <li>
                                        <md-input-container>
                                          <label>Phone Number</label>
                                          <input ng-model="dashEvent.ev_phone_number">
                                        </md-input-container>
                                        <md-input-container>
                                          <label>Email</label>
                                          <input ng-model="dashEvent.ev_email">
                                        </md-input-container>
                                        <md-input-container>
                                          <label>Website</label>
                                          <input ng-model="dashEvent.ev_website">
                                        </md-input-container>
                                        <md-input-container>
                                          <label>Location</label>
                                          <input ng-model="dashEvent.ev_location">
                                        </md-input-container>
                                      </li>
                                      <li>
                                        <md-input-container>
                                          <label>Location Latitude</label>
                                          <input ng-model="dashEvent.ev_location_lat">
                                        </md-input-container>
                                        <md-input-container>
                                          <label>Location Longitude</label>
                                          <input ng-model="dashEvent.ev_location_lan">
                                        </md-input-container>
                                      </li>
                                      <li>
                                        <md-input-container>
                                          <label>Image Url</label>
                                          <input ng-model="dashEvent.ev_image">
                                        </md-input-container>
                                      </li>
                                      <li>
                                          <input type="hidden" ng-model="dashEvent.posted_by">
                                          <input type="hidden" ng-model="dashEvent.user_id">
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="cplus-button1" data-dismiss="modal">Close</button>
                                    <button type="submit" class="cplus-button1" >Save changes</button>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                        </li>

                    </ul>
                </div>
           </div>
        </div>
    </div>
</div>